/*************************************/
/* Root settings */
/*************************************/

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    background-color: #6da4e8;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*************************************/
/* Utility classes */
/*************************************/

.container {
    max-width: 128rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/*************************************/
/* Heading */
/*************************************/
.heading-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.heading {
    font-size: 2.4rem;
    text-align: center;
    color: #f8e700;
}

/*************************************/
/* Score board */
/*************************************/
.score-board-box {
    justify-content: center;
    gap: 3.2rem;
    margin-bottom: 2rem;
}

.score-box {
    flex-direction: column;
    align-items: center;
}

.score__heading {
    font-size: 1.6rem;
    color: #fff;
}

#player-score,
#computer-score {
    color: #f8e700;
}

.current-choosed-option {
    font-size: 4rem;
    color: #fff;
}

/*************************************/
/* Updates */
/*************************************/

.updates-box {
    text-align: center;
    margin-bottom: 2rem;
}

.instruction-heading {
    font-size: 1.6rem;
    color: #fff;
}

.game-rule {
    font-size: 1rem;
    color: #fff;
}

/*************************************/
/* Options */
/*************************************/
.options-box {
    justify-content: center;
    gap: 1rem;
}

.option__box {
    width: 100px;
    padding: 2rem 0;
    background-color: #000;
    border: 5px solid #f8e700;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.option__box:hover,
.option__box:active {
    transform: scale(1.2);
    box-shadow: 5px 5px 30px 10px hsla(56, 100%, 49%, 0.8);
}

.option {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.option__name {
    font-size: 1.4rem;
    color: #fff;
}

/*************************************/
/* Media queries */
/*************************************/

/* 240px */
@media (min-width: 15em) {
    .heading-box {
        margin-top: 3.2rem;
    }

    .heading {
        font-size: 3.2rem;
    }

    .score-board-box {
        gap: 4.8rem;
    }

    .score__heading {
        font-size: 2rem;
    }

    .current-choosed-option {
        font-size: 5rem;
    }

    .instruction-heading {
        font-size: 2rem;
    }

    .game-rule {
        font-size: 1.6rem;
    }
}

/* 480px */
@media (min-width: 30em) {
}

/* 768px */
@media (min-width: 48em) {
    .heading {
        font-size: 4rem;
    }

    .score-board-box {
        gap: 6.4rem;
    }

    .score__heading {
        font-size: 2.4rem;
    }

    .current-choosed-option {
        font-size: 6rem;
    }

    .instruction-heading {
        font-size: 2.4rem;
    }

    .game-rule {
        font-size: 1.8rem;
    }

    .updates-box {
        margin-bottom: 3.2rem;
    }

    .options-box {
        gap: 3rem;
    }

    .option__box {
        width: 150px;
        padding: 4rem 0;
    }

    .option {
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    .option__name {
        font-size: 2rem;
    }
}

/* 1024px */
@media (min-width: 64em) {
    .heading {
        font-size: 4.8rem;
    }

    .score-board-box {
        gap: 7.2rem;
    }

    .score__heading {
        font-size: 2.8rem;
    }

    .current-choosed-option {
        font-size: 7.2rem;
    }

    .instruction-heading {
        font-size: 2.8rem;
    }

    .game-rule {
        font-size: 2rem;
    }
}

/* 1280px */
@media (min-width: 80em) {
    .heading {
        font-size: 6.4rem;
    }

    .score-board-box {
        gap: 16rem;
    }

    .score__heading {
        font-size: 3.2rem;
    }

    .current-choosed-option {
        font-size: 9rem;
    }

    .instruction-heading {
        font-size: 3.2rem;
    }

    .game-rule {
        font-size: 2.4rem;
    }

    .options-box {
        gap: 8rem;
    }

    .option__box {
        width: 200px;
    }

    .option__box:hover,
    .option__box:active {
        transform: scale(1.2);
        box-shadow: 10px 10px 50px 20px hsla(56, 100%, 49%, 0.8);
    }

    .option {
        font-size: 8rem;
    }

    .option__name {
        font-size: 2.4rem;
    }
}
